body {
  background-color: rgb(65, 107, 107);
}

@font-face { 
    font-family: 'MyFont'; 
    src: url('TimeburnerBold-peGR.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
} 
